Node-red-flow.json
[{"id":"b81c8d26.ac4928","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"177c09b1.992ab6","type":"watson-conversation-v1","z":"b81c8d26.ac4928","name":"Assisstant","workspaceid":"18eeb10a-f958-4f12-8cc4-24f01b665fb5","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/920d2cbd-8e23-4727-aa55-7b6e0d1e53f9","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["6741e4d.da9081c","ee436895.5cc158"]],"l":false},{"id":"58824751.a39d88","type":"function","z":"b81c8d26.ac4928","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["177c09b1.992ab6","21d7f85c.4182"]],"l":false},{"id":"17b1f37d.15a33d","type":"ui_form","z":"b81c8d26.ac4928","name":"","label":"form","group":"196ecec6.0352e9","order":1,"width":"7","height":"2","options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["58824751.a39d88"]],"l":false},{"id":"6741e4d.da9081c","type":"function","z":"b81c8d26.ac4928","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["3e3187d0.0dded"]],"l":false},{"id":"21d7f85c.4182","type":"ui_text","z":"b81c8d26.ac4928","group":"196ecec6.0352e9","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":395,"y":360,"wires":[],"l":false},{"id":"3e3187d0.0dded","type":"ui_text","z":"b81c8d26.ac4928","group":"196ecec6.0352e9","order":6,"width":"13","height":"6","name":"","label":"BOT","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"ee436895.5cc158","type":"debug","z":"b81c8d26.ac4928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"196ecec6.0352e9","type":"ui_group","z":"","name":"CHATBOT","tab":"d2240c3c.bbd55","order":1,"disp":true,"width":13,"collapse":false},{"id":"d2240c3c.bbd55","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]